BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

ColumnLimit: 110
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine

NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 0

IncludeBlocks: Preserve
SortIncludes: CaseSensitive

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 2

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: false
ReflowComments: true
SortUsingDeclarations: true
